<ul class='page-body__events-list js-events-list'>
  {{#each this}}  
  <li class='page-body__events-item event-card js-event-card' data-id={{id}}>
    <div class='event-card__thumb'>
      <img 
      loading="lazy"
      class='event-card__img lazyload' 
      data-src={{posterUrl}} 
      alt={{name}} 
      width="180" 
      height="277"/>
    </div>
    <h2 class='event-card__title'>{{name}}</h2>
    <p class='event-card__date'>{{dates.start.localDate}}</p>
    {{#if _embedded.venues}}
    <p class='event-card__location'>{{_embedded.venues.0.city.name}}, {{_embedded.venues.0.country.name}}</p>
    {{else}}
    <p class='event-card__location'>{{place.city.name}}, {{place.country.name}}</p>
    {{/if}}
    
  </li>
  {{/each}}
</ul>