<div class="modal__wrapper">
  <div class="modal">
    <button class="modal__btn-close js-btn-close" type="button" aria-label="Button close modal" data-model-close>
      <svg class="modal__icon-close" width="17" height="17">
        <use href="{{svg}}#icon-close"></use>
      </svg>
    </button>

    <div class="modal__container event-info">
      <div class="event-info__label">
        <img class="event-info__img" src={{posterUrl}} alt={{name}} />
      </div>
      <div class="event-info__content">
        <img class="event-info__poster" src={{posterUrl}} alt={{name}} />
        <div class="event-info__description">
          {{#if description}}
          <h3 class="event-info__title">INFO</h3>
          <p class="event-info__text">{{description}}</p>
          {{/if}}
          <h3 class="event-info__title">WHEN</h3>
          <p class="event-info__text">{{dates.start.localDate}}</br>{{dates.start.localTime}}</p>
          <h3 class="event-info__title">WHERE </h3>
          <p class="event-info__text">{{_embedded.venues.0.city.name}}, {{_embedded.venues.[0].country.name}}</br>{{_embedded.venues.[0].address.line1}}</p>
          <h3 class="event-info__title">WHO</h3>
          <p class="event-info__text">{{name}}</p>
          <h3 class="event-info__title">PRICES</h3>
          <div class="event-info__price">
            <svg class="event-info__icon-barcode" width="24" height="16">
              <use href="{{svg}}#icon-barcode"></use>
            </svg>
            {{#if priceRanges}}
            <p class="event-info__text">{{priceRanges.type}} {{priceRanges.[0].min}} - {{priceRanges.[0].max}}
            {{priceRanges.[0].currency}}</p>
            {{else}}
            <p class="event-info__text">No data</p>
            {{/if}}
          </div>
          <a class="event-info__btn" href="{{_embedded.attractions.[0].url}}" aria-label="Buy tickets" target="_blank" rel="noopener noreferrer nofollow">BUY TICKETS</a>       
        </div>
      </div>

      <a class="event-info__btn-more" href="https://www.google.com/search?q={{name}}" aria-label="Get more information from this author" target="_blank" rel="noopener noreferrer nofollow">MORE FROM THIS AUTHOR</a>
    </div>
  </div>
</div>